# Ignore file settings
*.Rproj
*.Rproj.user/
.Rhistory
.RData
.DS_store
.DS_Store?

# Ignore these files
*.swp
*.log
*.aux
*.out

# Open cached files
*.m~
*.*swp
*.*swo
*.~

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
