# Ignore file settings
*.Rproj
*.Rproj.user/
.Rhistory
.RData
.DS_store

# Ignore these files
*.swp
*.log
*.aux
*.out

# Ignore all packrat except packrat.lock and src
TP_IFSBM_module12/2020/labs/packrat/lib/
TP_IFSBM_module12/2020/labs/packrat/lib-R/
TP_IFSBM_module12/2020/labs/packrat/lib-ext/
TP_IFSBM_module12/2020/labs/packrat/packrat.opts
